{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 page-header">
            <h3>Tasks</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-12">
                    {% if request.user.treatment.get_frame == '1' %}
                    <div class="alert alert-info">
                    <p>This project is for one of our <b style="font-size:18px">for-profit clients</b>.</p>
                    </div>
                    {% elif request.user.treatment.get_frame == '2' %}
                    <div class="alert alert-success">
                    <p>This project is for one of our <b style="font-size:18px;">non-profit clients</b> working with <b style="font-size:18px;">improving access to education for underprivileged children</b>. Since we want to help our non-profit clients in <b style="font-size:18px;">making the world a better place</b>, we only charge them at cost for our services.</p>
                    </div>
                    {% else %}
                    Message error
                    {% endif %}
                    <p>If you need to review this information, you can click on "Instructions" in the top menu.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Incomplete</h4>
                </div>
                <ul class="list-group pre-scrollable">
                    {% for task in images.unfinished %}
                    <li class='list-group-item'>
                        <span class="badge">In progress</span>
                        <a href="{% url 'data:task_entry' task.image.id %}">{{ task }}</a>
                    </li>
                    {% endfor %}
                    {% for image in images.notStarted %}
                    <li class='list-group-item'>
                        <a href="{% url 'data:task_entry' image.id %}">{{ image }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div><!-- /.col-md-8 -->
        <div class="col-xs-6 col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Complete</h4>
                </div>
                <ul class='list-group pre-scrollable'>
                {% for task in images.finished %}
                    <li class="list-group-item">
                        <span class="badge">Complete</span>
                        <a href="{% url 'data:task_entry' task.image.id %}">{{ task }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% include "data/includes/info.html" %}
        {% include "data/includes/message.html" %}
        {% include "includes/hometimer.html" %}
        {% include "includes/timeout.html" %}
    </div><!-- /.row -->
</div> <!-- /.container -->
{% endblock %}
