{% extends 'base.html' %}

{% block content %}
<div class="container">

{% if user.is_authenticated %}
    <form method="post" id="taskform" action="">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ task.image.get_url }}" target="_blank">View Menu</a>
        </div>
        <div class="panel-body form-inline">
            <div class="form-group">
                {{ taskform }}
            </div>
        </div>
    <table class="table">
        {{ itemformset.management_form }}
        {% for form in itemformset %}
        <tr><td class="form-inline">
            {% for field in form %}
            {% if not forloop.last %}
            <div class="form-group">
                <label class="sr-only" for="{{ field.id_for_label }}">{{ field.name }}</label>
                {{ field }}
            </div>
            {% else %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">delete</label>
                {{ field }}
            </div>
            {% endif %}
            {% endfor %}
                {% if form.errors %}<span class="text-danger">Missing Fields</span>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="panel-footer">
        <button class="btn btn-info" type="submit" name="action" value="+">Save</button>
        <input class="btn btn-success" type="submit" name="action" value="submit">
        <input id="entryLogBtn" type="submit" name="action" value="log">
    </div>
</div>
</form>

{% include "includes/time.html" %}

{% else %}
<div class="alert alert-danger">
    You have been logged out due to inactivity.  <a href="{% url 'data:index' %}">home</a>
</div>

{% endif %}

</div>
{% endblock %}
