{% extends 'base.html' %}

{% block content %}
<div class="container">
{% if user.is_authenticated %}
    <form method="post" id="taskform" action="">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" src="{{ task.image.get_url }}">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ taskform.non_field_errors }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="{{ taskform.street.id_for_label }}">Street Address:</label>{{ taskform.street }}
                        <label for="{{ taskform.citystate.id_for_label}}">City:</label>{{ taskform.citystate }}
                        Month/Year:
                        <label for="{{ taskform.month.id_for_label }}"></label>{{ taskform.month }}
                        <label for="{{ taskform.year.id_for_label}}"></label>{{ taskform.year }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="{{ taskform.pic_quality.id_for_label }}">The quality of the actual picture is high:</label>
                        {{ taskform.pic_quality }}
                    </div>
                </div>
            </div>
            {% if taskform.errors %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-danger">All required fields have not been entered, form has not been submitted.</div>
                </div>
            </div>
            {% endif %}
            <div class="panel-body">
                <table class="table">
                {% for field in taskform %}
                {% if forloop.counter > 5 %}
                {% if not forloop.counter0|divisibleby:"2" %}<tr>{% endif %}
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                {% if forloop.counter0|divisibleby:"2" %}</tr>{% endif %}
                {% endif %}
                {% endfor %}
                </table>
            </div>

            <div class="panel-footer">
                <button class="btn btn-info" type="submit" name="action" value="save">Save</button>
                <input class="btn btn-success" type="submit" name="action" value="submit">
                <input id="entryLogBtn" type="submit" name="action" value="log">
            </div>
        </div>
        </div>
    </div>
</form>

{% include "includes/time.html" %}

{% else %}
<div class="alert alert-danger">
    You have been logged out due to inactivity.  <a href="{% url 'data:index' %}">home</a>
</div>

{% endif %}

</div>
{% endblock %}
