<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="text-muted">logged in as</span> {{ user.username }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{ user.get_billable_hours }} <span class="label label-info">Hours worked</span>
                </div>
                <div class="col-md-12">
                    <span class="text-muted" style="font-size:10px;">hr:min:sec<span>
                </div>
            </div>
        </div>
    </div>
</div>
