
<button hidden type="button" id="modalBtnInfo" data-toggle="modal" data-target="#myModalInfo">
</button>
<!-- Modal -->
<div class="modal fade" id="myModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabelInfo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">WORK SUMMARY</h4>
      </div>
      <div class="modal-body">
          {% if request.user.treatment.get_frame == '1' %}
         <p>This project is for one of our <b>private sector clients</b>.</p>
         {% elif request.user.treatment.get_frame == '2' %}
         <p>This project is for one of our <b style="color:#3c763d;">non-profit clients</b>.</p>
         <p>The particular client is working with <b style="color:#3c763d;">improving access to education for underprivileged children</b>. Since we want to help our non-profit clients making the world a better place, we only charge them at cost.</p>
         {% else %}
         Message error
         {% endif %}
         <p>Your task is to collect data from Google Streetview snapshots and enter them into a web-form. By now, you should have already been provided with detailed information about the task. If you need to review this information, you can click on “Instructions”in the top menu.</p>
         <p>Please keep in mind that we will only be recording billable hours while you are actually working on assignments. You will also be automatically logged out if you inactive for more than 2 minutes.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="clickmodalinfo" value="{{ clickmodal }}">

<script>
var modalBtn = document.getElementById('modalBtnInfo')
var clickmodal = document.getElementById('clickmodalinfo').value

$(document).ready( function () {
    if (clickmodal == "yes")
        $(modalBtn).click()
});

</script>
