<div class="col-xs-12 col-sm-4 col-md-4 col-sm-offset-4">
    <div class="alert {% if request.user.treatment.get_frame == '2' %}alert-success{% else %}alert-info{% endif %}" role="alert">
        <div class="row">
            <div class="col-md-12">
                {% if request.user.treatment.get_frame == '1' %}
                Thank you for your efforts to help us provide services to our <b style="font-size:18px">for-profit clients</b>.
                {% elif request.user.treatment.get_frame == '2' %}
                Thank you for your efforts to help us provide services to our <b style="font-size:18px">non-profit clients</b> as they <b style="font-size:18px">make the world a better place</b>.
                {% else %}
                Message error
                {% endif %}
            </div>
        </div>
    </div>
</div>
