venv
tasks_per_day.csv
dblcheck
*.pyc
*~
*.swp
csr-menus
menulist.csv
staticfiles
postgres
.DS_Store
csr_task_images
export
pgbackups
users.csv
images
import-items
worktimer_fix.csv
overview.csv
worktimer_fix2.csv
brent_hours.csv
brent_task.csv
csr_treatment_errors.csv
wage_errors.csv
