
{% load static %}
<script src="{% static 'js/ifvisible.js' %}"></script>
<script src="{% static 'js/timeme.js' %}"></script>

<script type="text/javascript">

TimeMe.setIdleDurationInSeconds(60);
TimeMe.setCurrentPageName("assigments");
TimeMe.initialize();

var generateUid = function (separator) {
    var delim = separator || "-";

    function S4 () {
        return(((1 + Math.random()) * 0x10000 ) | 0).toString(16).substring(1);
    }

    return (S4() + S4() + delim + S4() + delim + S4() + delim + S4() + delim + S4() + S4() + S4());
};


window.onbeforeunload = function (event) {
    var timeSpentOnPage = TimeMe.getTimeOnCurrentPageInSeconds();
    $.ajax({
        url:'/home_timer/',
        type:"POST",
        data: {
            time: timeSpentOnPage,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            token: generateUid(),
        }
    });
};





</script>
