{% load staticfiles %}

{% if DEBUG %}
<div class="panel panel-default">
    <div class="panel-heading">
        Debug Info
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>idleTime</td><td id="idleTime">0</td>
            </tr>
            <tr>
                <td>workTime</td><td id="workTime">0</td>
            </tr>
        </table>
    </div>
</div>
{% endif %}


<button hidden type="button" id="modalBtn" data-toggle="modal" data-target="#myModal">
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Inactivity warning</h4>
      </div>
      <div class="modal-body">
        While inactive we will not be recording billable hours.
        You will be logged out after 2 minutes of inactivity.
      </div>
      <div class="modal-footer">
         <div class="btn alert-info">
             You've worked: {{ user.get_billable_hours }}
         </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

if ({{ inactive }}  == 1) {
    document.getElementById('modalBtn').click()

}
</script>

<script src="{% static 'js/timer.js' %}"></script>
