<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="pull-left" href="{% url 'data:index' %}"><img height="50px" src="\static\logo.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'data:images' %}">Tasks</a></li>
            </ul>
            {% if request.user.is_authenticated and request.user.treatment.get_access.access %}
            <ul class="nav navbar-form navbar-right">
                <li><button class="btn btn-info" type="button" id="modalBtnInfo" data-toggle="modal" data-target="#myModalInfo">Work Summary</button></li>
                <li><button class="btn btn-info" type="button" id="modalBtnHelp" data-toggle="modal" data-target="#myModalHelp">Instructions</button></li>
            </ul>
            {% endif %}
        </div><!--/ .nav-collapse -->
    </div>
</nav>
